.payoffParent {
  position: relative;
  height: 300px;
  transition: height 0.15s ease-in;
  
}

.payoffParent.hiddenChart {
  height: 0px;
  transition: height 0.15s ease-in;
}

.hiddenChart .payoffParent {
  height: 0px;
  transition: height 0.15s ease-in;
}

.hiddenPL .payoffParent {
  height: 0px;
  visibility: collapse;
  position: absolute;
}

.payoffDetails {
  display: none;
  
  justify-content: flex-end;
}

.hiddenChart .payoffDetails {
  display: none;
}

.payoffChart {
  position: absolute;
  padding: 5px 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hiddenChart .payoffChart {
  visibility: collapse;
  position: absolute;
}

.payoffToolTipStyle {
  background-color: #070707;
  
  border-color: #8229ff;
  min-width: 96px;
  
  position: absolute;
  display: none;
  padding: 4px;
  box-sizing: border-box;
  font-size: 0.75rem;
  text-align: left;
  z-index: 1000;
  top: 12px;
  left: 12px;
  pointer-events: none;
  border: 1px solid;
  border-radius: 2px;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="default"] .payoffToolTipStyle {
  background-color: #f9f9f9;
  border: 1.2px solid;
}

.positiveTooltip.payoffToolTipStyle {
  border-color: #45cf70;
}

.negativeTooltip.payoffToolTipStyle {
  border-color: #f15757;
}

.tooltipPrice {
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
}

.positiveTooltip .tooltipPrice {
  color: #45cf70;
}

.negativeTooltip .tooltipPrice {
  color: #f15757;
}

.payoffButton {
  font-size: 1.25rem;
  margin: 0px 10px;
  color: #3b6feb;
}

.payoffButton:hover {
  color: #3363d1;
}

#chartRootParent {
  position: absolute;
  visibility: collapse;
}

.page-positions #chartRootParent {
  margin: 5px;
  border: solid 2px;
  border-radius: 5px;
  border-color: #212121;
  position: relative;
  visibility: visible;
  border-right: transparent;
  border-left: transparent;
}

html[data-theme="default"] #chartRootParent {
  border-color: #dddddd;
}

.brandLink {
  color: #9e9e9e;
  font-weight: bolder;
  margin: 0px 5px;
  font-size: 0.6875rem;
  padding: 2px 5px;
  background: #242424;
  border-radius: 3px;
}

.brandLink:hover {
  color: #8a8a8a;
}

#mtmChartBrandLogo {
  width: 18px;
}

.page-positions #chartRootParent.hiddenChart {
  position: absolute;
  visibility: collapse;
}

#chartRootParent.fullView {
  
  
  background-color: #1d1d1d;
  height: 100%;
  z-index: 200;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 5%;
  margin: 0px;
}

.tv-lightweight-charts {
  
}

#lightWeightChartParent .tv-lightweight-charts {
  margin: auto;
  height: 400px !important;
  
  
}

.fullView #lightWeightChartParent .tv-lightweight-charts {
  height: 100% !important;
}

.fullView #lightWeightChartParent {
  
  
  height: 92%;
}

#chartControlDiv {
  background-color: #181818;
  font-size: 0.875rem;
  padding: 0.3125rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #232323 solid 1px;
}

#chartHederLeftDiv {
  margin-right: auto;
  display: flex;
  align-items: center;
}

#chartHeader {
  font-size: 1em;
  margin: 0px 0.5em;
  color: #adadad;
  font-weight: bold;
}

#chartControlSet {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.fullView #chartControlSet {
  margin-right: 1%;
}

#chartMinButton {
  display: none;
}
#chartCloseButton .fa-solid {
  font-size: 1.6rem;
}
.fullView #chartMaxButton {
  display: none;
}

.fullView #chartMinButton {
  display: block;
}
.fullView #chartCloseButton {
  display: none;
}

.chartButtons {
  
  margin: 0.125rem 0.625rem;
  color: #adadad;
  font-weight: bolder;
  text-align: center;
}

.chartButtons i {
  font-size: 1.25rem;
}

.chartButtons input[type="checkbox"]:checked {
  background-color: rebeccapurple;
}

a.chartButtons:hover,
.chartButtons:hover i {
  color: #8f8f8f;
}

#chartTextCanvas {
  position: absolute;
  top: 50px;
  z-index: 500;
}

@media screen and (min-width: 2200px) {
}

@media screen and (max-width: 1600px) {
  .fullView #lightWeightChartParent {
    height: 91%;
  }
}

@media screen and (max-width: 1400px) {
  .fullView #lightWeightChartParent {
    height: 89%;
  }
}

@media screen and (max-width: 1200px) {
  .fullView #lightWeightChartParent {
    height: 88%;
  }
}

@media screen and (max-width: 970px) {
  .fullView #lightWeightChartParent {
    height: 89%;
  }
}
