body {
  font-family: "Open Sans", sans-serif;
  
  --statusBarHeight: 25px;
}

body * {
  transform-origin: top left;
}

body.enabledTiledWindow {
  overflow: hidden !important;
}

.enabledTiledWindow {
  .tags,
  .weekly,
  .exchange,
  .download {
    display: none !important;
  }
}
.container-right .weekly {
  display: none !important;
}

[data-balloon]:hover:after,
[data-balloon]:hover:before,
[data-balloon][data-balloon-visible]:after,
[data-balloon][data-balloon-visible]:before {
  z-index: 500;
  -webkit-transition-delay: 0.9s !important;
  transition-delay: 0.9s !important;
}

.hoverBtn:hover {
  cursor: pointer;
  opacity: 0.75;
  
  
  
  transform-origin: center;
}


.order-window {
  transform-origin: bottom left;
}

.order-window .exchange {
  display: inline-block !important;
}

.order-window .margins {
  margin-top: 3px !important;
}

.variety-quick #premiumBlock {
  margin-top: -7px !important;
}

#premiumSpan {
  color: #4987ee;
  margin-left: 3px;
}

#premiumBlock {
  min-width: 150px;
}
.kitePlusDefaultTextColor {
  color: #a0a0a0;
}

[data-theme="default"] .kitePlusDefaultTextColor {
  color: #3e3e3e;
}
.kitePlusCenterAlign {
  text-align: center;
}
.kitePlusRightAlign {
  text-align: right;
}

.displayHidden {
  display: none !important;
}

.sliderF .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4b4b4b;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.sliderF .slider::before {
  position: absolute;
  content: "";
  height: 0.81rem;
  width: 0.81rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: #252525;
  -webkit-transition: 0.1;
  transition: 0.1s;
}
.sliderF .switch {
  transform-origin: center;
  position: relative;
  display: inline-block;
  width: 1.875rem;
  height: 1.0625rem;
  margin: -0.1875rem 0px;
}
.sliderF .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}
.sliderF .slider.round {
  border-radius: 34px;
}
.sliderF .slider.round::before {
  border-radius: 50%;
}
[data-theme="default"] .sliderF .slider {
  background-color: #999999;
}
.sliderF input:checked + .slider {
  background-color: #2196f3;
}
.sliderF input:checked + .slider:before {
  -webkit-transform: translateX(0.81rem);
  -ms-transform: translateX(0.81rem);
  transform: translateX(0.81rem);
}

.window-content {
  cursor: move;
  
}

.tooltip-container {
  position: relative;
  display: inline-block;
}


.kt-tooltip {
  text-align: center;
  position: absolute;
  padding: 4px 5px;
  background-color: #333;
  font-weight: bold;
  color: rgb(215, 215, 215);
  border: 2px solid #181818;
  border-radius: 4px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  word-wrap: break-word;

  z-index: 9999;
  pointer-events: none;
  max-width: 300px;
}



.kt-tooltip::after {
  content: "";
  position: absolute;
  border-style: solid;
  
  display: block;

  border-width: 6px 6px 0 6px;
  border-color: #333 transparent transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}



.toolTipSpan {
  color: #4987ee;
}

